$dark: #232323;
$light: #FFFEF4;
$pink: #FF9FB2;
$light-blue:#9EDEFF;

$background: $dark;
$text-color: $light;
$border-color: $light;
$mountain-color: #E0FF4F; // $light-blue;
$sun-color: #FF6663;// $pink;
$cloud-color: #BFD7EA; //$light; 