@import "../../node_modules/reset-css/sass/reset";
@import "./colors";

body {
  background-color: $background;
  color: $text-color;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}